<div class="row">
  <div class="col-lg"></div>
  <div class="col-lg-4">
    <h2>Datos personales</h2>
    <div class="card" style="width: 18rem;" *ngIf="user">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }} {{ user.lastname }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
        <p class="card-text">Registro: {{ user.registerDate }}</p>
        <button (click)="logout()" class="card-link">Salir de la sesi&oacute;n</button>
      </div>
    </div>
  </div>
  <div class="col-lg"></div>
</div>