<div class="row" *ngIf="show">
    <div class="col-lg"></div>
    <div class="col-lg-4" id="form">
        <h2 id="form-title">Cambiar contraseña</h2>
       <form (ngSubmit)="change()" #forma="ngForm">
            <div class="form-group">
                <label for="password">Password</label>
                <input name="one" #one="ngModel" [(ngModel)]="password.one" type="password" class="form-control"
                id="one" placeholder="Enter password"
                [ngClass]="{'is-valid': !one.invalid, 'is-invalid': one.invalid }" required>
                <div *ngIf="one.invalid && (one.dirty || one.touched)" class="alert alert-danger">
                    <div *ngIf="one.errors.required">
                        password necesario
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Repetir Password</label>
                <input name="two" #two="ngModel" [(ngModel)]="password.two" type="password" class="form-control"
                id="two" aria-describedby="emailHelp" placeholder="Enter email"
                [ngClass]="{'is-valid': !two.invalid, 'is-invalid': two.invalid }" required>
                <div *ngIf="two.invalid && (two.dirty || two.touched)" class="alert alert-danger">
                    <div *ngIf="two.errors.required">
                        password necesario
                    </div>
                </div>
            </div>
            <div *ngIf="password.one != password.two">
                Passwords no son iguales
            </div>
            <button [disabled]="!forma.valid" type="submit" class="btn btn-primary">Cambiar contraseña</button>
       </form>
    </div>
    <div class="col-lg"></div>
</div>


